.user-list-container {
  margin: 100px 20px 20px 15%;

  .adherent-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 20px 20px 20px;
    background-color: #e5e7e9;
    box-shadow: 10px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.19);

    &:hover {
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2),
        0 3px 15px 0 rgba(0, 0, 0, 0.19);
    }

    .react-icons {
      margin: 10px;
    }
  }
}
