.user-container {
  margin: 100px 20px 20px 15%;

  .user-list-container {
     margin: 0 20px 0 20px;
    .container-to-color-rows {
      .adherent-row:nth-of-type(2n) {
        background-color: rgba(184, 219, 184, 0.7);
      }
      .adherent-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 0 20px 20px 20px;
        background-color: #e5e7e9;
        box-shadow: 10px;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2),
          0 6px 10px 0 rgba(0, 0, 0, 0.19);

        &:hover {
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2),
            0 3px 15px 0 rgba(0, 0, 0, 0.19);
        }

        .react-icons {
          margin: 10px;
        }
      }

      .bold {
        font-weight: bold;
        font-size: 18px;
      }

      .user-infos {
        display: flex;
        flex-direction: row;

        justify-content: flex-start;
      }

      .garden-list {
        margin-left: 40px;
        li {
          list-style-type: '- ';
        }
      }
    }
  }
}

.react-confirm-alert-body{
  width: max-content !important;
  text-align: center !important;
}

.react-confirm-alert-button-group{
  justify-content: center !important;
}