.Article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin-left: 20%;
  padding-top: 5%;
  font-family: 'Montserrat';
  font-size: 1rem;
}

.buttonArticle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin-bottom: 10%;
}

.buttonList {
  width: 20vw;
  height: 5vh;
  border: none;
  margin: 1%;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-size: 1rem;
  cursor: pointer;
  &:active {
    background-color: #EBB349;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  }
  &:focus,
  &:hover {
    outline: 0;
    background-color: #EBB349;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  }
}

.buttonArticle {
  width: 20vw;
  height: 5vh;
  border: none;
  margin: 1%;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-size: 1rem;
  cursor: pointer;
  &:active {
    background-color: #EBB349;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  }
  &:focus,
  &:hover {
    outline: 0;
    background-color: #EBB349;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  }
  &:a {
    text-decoration: none;
  }
}