.Article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin-left: 20%;
  padding-top: 5%;
  font-family: 'Montserrat';
  font-size: 1rem;
}
