.button-list-creation-container {
  display: flex;
  justify-content: center;
  margin: 100px 20px 20px 2%;

  .button-list {
    width: 20vw;
    height: 5vh;
    border: solid 1px grey;
    margin: 1%;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-size: 1rem;
    cursor: pointer;
    &:active {
      background-color: #ebb349;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    &:focus,
    &:hover {
      outline: 0;
      background-color: #ebb349;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
  .button-creation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 5vh;
    border: solid 1px grey;
    margin: 1%;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-size: 1rem;
    cursor: pointer;
    &:active {
      background-color: #ebb349;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    &:focus,
    &:hover {
      outline: 0;
      background-color: #ebb349;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}
