@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.button-list-creation-container {
  display: flex;
  justify-content: center;
  margin: 30px 20px 20px 2%;

  a {
    text-decoration: none;
    color: black;
  }

  .button-list,
  .button-creation {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #e5e7e9;

    width: 160px;
    height: 50px;
    border: solid 1px lightgray;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1rem;
    cursor: pointer;

    &:active {
      background-color: #b8dbb8;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    &:focus,
    &:hover {
      outline: 0;
      background-color: #b8dbb8;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
