.calendar-container {
  display: flex;
  margin: 50px 20px 50px 15%;
  width: 80%;
  height: 850px;
  border: 2px solid rgb(184, 219, 184);
  padding: 15px;
  border-radius: 15px;

  .rbc-calendar {
    width: 100% !important;
  }

  .rbc-toolbar {
    width: 100% !important;
  }
}
