.garden-list-container {
  margin: 100px 20px 20px 250px;
  .css-2b097c-container {
    width: 50vw;
    border: unset;
    outline: none;
    margin: 30px;

    .css-yk16xz-control {
      height: 50px;
      border-radius: 50px;
      .css-12jo7m5 {
        font-size: 20px;
      }
    }
    &:focus {
      border: unset;
      outline: none;
    }
    &:active {
      border: unset;
      outline: none;
    }
  }
}

.container-to-color-rows {
  .garden-row:nth-of-type(2n) {
    background-color: rgba(184, 219, 184, 0.7);
  }
}

.garden-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 20px 20px 20px;
  background-color: #e5e7e9;
  box-shadow: 10px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2),
      0 3px 15px 0 rgba(0, 0, 0, 0.19);
  }
  .react-icons {
    margin: 10px;
  }

  .garden-infos {
    .garden-name {
      font-weight: bold;
      font-size: 20px;
    }
    line-height: 1.5em;
  }
}

.react-confirm-alert-body {
  width: max-content !important;
  text-align: center !important;
}

.react-confirm-alert-button-group {
  justify-content: center !important;
}
