.container {
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    min-width: 500px;
    background-color: #e6e6e6;
    border: 2px solid rgba(0, 0, 0, 0.226);
    border-radius: 5px;
    padding: 10px;

    h3 {
      font-size: 2rem;
      color: black;
      text-align: center;
    }

    input {
      border-radius: 2px;
      border: 1px solid white;
      padding: 10px 15px;
      margin-bottom: 10px;
      font-size: 14px;
      width: 100%;
    }

    label {
      line-height: 2;
      text-align: left;
      margin-bottom: 13px;
      margin-top: 20px;
      font-size: 1.8rem;
      color: black;
    }

    p {
      color: #bf1650;
      font-size: 1.5rem;
      &::before {
        display: inline;
        content: '⚠ ';
      }
    }
    .submitFormBtn {
      align-self: center;
    }
    input[type='submit'] {
      background: rgb(103, 158, 103);
      color: white;
      text-transform: uppercase;
      margin-top: 40px;
      padding: 20px;
      font-weight: 100;
      letter-spacing: 10px;
      width: 100%;

      &:hover {
        background: red;
      }
    }
  }
}
