.box-container-user {
  width: 100%;
  margin-left: 30px;

  .centering-box {
    height: min-content;
    padding-bottom: 20px;
    margin-top: 50px;
    width: 500px;
    border: 2px solid lightgray;
  }
}

.member-detail-container {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12vh;

  .top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    width: 100%;
    padding: 30px 0 20px 0;

    .user-avatar-container {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }

    .user-avatar {
      object-fit: cover;
      object-position: center;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 2px solid white;
    }

    .edit-button {
      border-radius: 20px;
      background-color: white;
      margin-top: 10px;
      padding: 6px 10px;
      cursor: pointer;
      -webkit-box-shadow: 1px 3px 5px 0px rgba(150, 150, 150, 1);
      -moz-box-shadow: 1px 3px 5px 0px rgba(150, 150, 150, 1);
      box-shadow: 1px 3px 5px 0px rgba(150, 150, 150, 1);
    }
  }

  .user-infos {
    margin: 0 15px;

    .membership-infos,
    .garden-infos {
      border-top: 2px solid #e6e6e6;
    }

    p {
      margin-left: 15px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    p.vertical-align {
      display: flex;
      align-items: center;
    }
    h3 {
      display: flex;
      align-items: center;
      margin-top: 15px;
    }
  }
}
