.navbar {
  // float: left;
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 200px;
  // height: 100%;
  background-color: #e6e6e6;
  padding-bottom: 40px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);

  .logoNavbar {
    background-image: url('../../images/black_logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    margin: 10%;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5vh;
    margin-bottom: 5vh;

    li {
      list-style-type: none;
      width: 100%;

      a {
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        padding: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        &:active,
        &:hover,
        &:focus {
          background-color: #b6b6b6;
        }
      }
    }
  }
  .containerLogoutButton {
    display: flex;
    justify-content: center;
    width: 100%;

    .btn-logout {
      z-index: 1;
      font-size: 1rem;
      border-radius: 20px;
      width: 12vw;
      min-width: min-content;
      padding: 5px;
      height: 5vh;
      outline: none;
      border: solid 1px red;
      cursor: pointer;
    }
    .btn-logout:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-image: linear-gradient(315deg, #57ac5a 0%, #7db667 74%);
      box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
      transition: all 0.2s ease;
    }
    .btn-logout:hover {
      color: #fff;
      background-color: red;
    }
  }
}
