.tag-list-container {
  margin: 100px 20px 20px 15%;

  .tag-form {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    label {
      display: flex;
      flex-direction: column;
      margin: 0 10px 10px 10px;

      color: #323436;

      input {
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding-left: 10px;
        line-height: 2em;
        margin-top: 10px;
      }
    }
  }

  .button-tag-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .button-tag-list {
    width: 20vw;
    height: 2em;
    border: none;
    margin: 10px;
    border-radius: 8px;
    // font-family: 'Montserrat';
    cursor: pointer;
    &:active {
      background-color: #ebb349;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    &:focus,
    &:hover {
      outline: 0;
      background-color: #ebb349;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
  .button-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    white-space: nowrap;
    padding: 0 10px;
    height: 2em;
    border: none;
    margin: 10px;
    border-radius: 8px;
    // font-family: 'Montserrat';
    font-size: 1rem;
    cursor: pointer;
    &:active {
      background-color: #ebb349;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    &:focus,
    &:hover {
      outline: 0;
      background-color: #ebb349;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
  .container-to-color-rows {
    .tag-row:nth-of-type(2n) {
      background-color: rgba(184, 219, 184, 0.7);
    }
    .tag-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      margin: 20px 20px 20px;
      background-color: #e5e7e9;
      box-shadow: 10px;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.19);
      &:hover {
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2),
          0 3px 15px 0 rgba(0, 0, 0, 0.19);
      }
      .react-icons {
        margin: 10px;
        cursor: pointer;
      }
    }
  }
}
